html {
  background-color: rgb(238, 237, 237);
}

.content-wrapper {
  border-radius: 16px;
  background-color: white;
  margin: 8px 16px;
  display: grid;
  grid-template-columns: 250px;
  min-width: 900px;
}

.title__main-page {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 700;
  font-size: 18px;
  padding: 24px;
}

.menu__left > div {
  border-top: 1px solid lightgrey;

}

.menu__left > div:last-of-type {
  border-bottom: 1px solid lightgrey;
}

.blank {
  height: 48px;
}
